extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class ="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere mauris a lacinia gravida.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere mauris a lacinia gravida.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere mauris a lacinia gravida. 
                p In malesuada ante libero, ut mattis nibh scelerisque eu. Mauris varius malesuada suscipit. Phasellus sodales justo non urna lacinia congue. Quisque eleifend dolor leo, eget tincidunt orci malesuada ut. Nam ullamcorper nisi vitae velit sodales, sed vehicula ante tempus. Quisque vel elit vitae nunc venenatis lobortis commodo nec augue. Sed libero odio, egestas nec ultrices vel, scelerisque eget eros. Nulla vehicula lectus eu lectus malesuada, et porta nibh imperdiet.
                p Donec eget convallis felis, non malesuada eros. Fusce ut metus at nisl scelerisque lacinia at non nisl. Nam vulputate orci vitae nisl maximus blandit. Nam quis turpis turpis. Etiam vestibulum erat gravida interdum imperdiet. Aenean accumsan mauris a sapien pulvinar imperdiet. Suspendisse arcu nibh, elementum et feugiat ut, laoreet ut mi. Curabitur gravida auctor dui at luctus. Morbi at accumsan elit.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec eget convallis felis, non malesuada eros. Fusce ut metus at nisl scelerisque lacinia at non nisl. Nam vulputate orci vitae nisl maximus blandit. Nam quis turpis turpis. Etiam vestibulum erat gravida interdum imperdiet. Aenean accumsan mauris a sapien pulvinar imperdiet.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Donec eget convallis felis, non malesuada eros. Fusce ut metus at nisl scelerisque lacinia at non nisl. Nam vulputate orci vitae nisl maximus blandit. Nam quis turpis turpis. Etiam vestibulum erat gravida interdum imperdiet. Aenean accumsan mauris a sapien pulvinar imperdiet.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Donec eget convallis felis, non malesuada eros. Fusce ut metus at nisl scelerisque lacinia at non nisl. Nam vulputate orci vitae nisl maximus blandit. Nam quis turpis turpis. Etiam vestibulum erat gravida interdum imperdiet. Aenean accumsan mauris a sapien pulvinar imperdiet.